/* General Styles */
body {
    font-family: 'Helvetica, Arial, sans-serif';
    color: #473144;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lora, serif';
    text-align: center;
    padding: 20px 0;
    color: #AF1B3F;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #EFC69B;
    border-bottom: 1px solid #EFC69B;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #AF1B3F;
}

/* Skip to content link */
.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #AF1B3F;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.skiptocontent a:focus {
    top: 0;
}

/* Layout for main content and filter */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Article styling */
article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    border-bottom: 1px solid #EFC69B;
    padding: 20px 0;
}

/* Increased font size for the date */
.book-details p:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
}

/* Right-align the details on the left */
.book-details {
    text-align: right;
    border-right: 1px solid #EFC69B;
    padding-right: 15px;
    margin-right: 15px;
}

/* Reduced space between details */
.book-details p {
    margin: 5px 0;
}

/* Title and image adjustments */
.book-content h2 {
    margin-top: 0;
}

.book-content img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}

/* Filter form styling */
form select, form button {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #EFC69B;
    width: 100%;
}

form button {
    background-color: #AF1B3F;
    color: white;
    cursor: pointer;
}

form label {
    font-weight: bold;
    color: #AF1B3F;
}
